.container {
  position: relative;
  display: inline-block;
}

.right {
  position: absolute;
  min-width: 200px;
  z-index: 10;
  top: 50%;
  left: calc(100% + 5px);
  transform: translateY(-50%);
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.left {
  position: absolute;
  min-width: 200px;
  z-index: 10;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.top {
  position: absolute;
  min-width: 200px;
  z-index: 10;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.bottom {
  position: absolute;
  min-width: 200px;
  z-index: 10;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
}
